<a [routerLink]="['/movie', movie.id]" class="movie-card-link">
  <div class="movie-card">
    <div class="poster-container">
      <img 
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" 
        [alt]="movie.title"
        loading="lazy"
      >
      <div class="card-overlay">
        <div class="rating">
          <span>⭐</span> {{ movie.vote_average | number:'1.1-1' }}
        </div>
        <button class="btn-play-mini">▶</button>
      </div>
    </div>
    <h3 class="movie-title">{{ movie.title }}</h3>
  </div>
</a>
