<div class="trailer-container">
  @if (isLoading()) {
    <div class="trailer-loading">
      <div class="spinner"></div>
      <p>Buscando tráiler oficial...</p>
    </div>
  } @else if (trailerUrl()) {
    <div class="iframe-wrapper">
      <iframe 
        [src]="trailerUrl()! | safe" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
  } @else {
    <div class="no-trailer">
      <span>🚫</span>
      <p>Tráiler oficial no disponible para esta película.</p>
    </div>
  }
</div>
