.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 5%;
  background-color: transparent;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-white {
  color: var(--text-primary);
}

.logo-red {
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--primary-glow);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  font-size: 0.9rem;
  color: var(--text-secondary);
  transition: var(--transition);
}

.nav-links a:hover, .nav-links a.active {
  color: var(--secondary-color);
}
